<%- include('../partials/header'); %>
<link rel="stylesheet" href="/css/style-listar-livros.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready( function () {
        $('#table_id').DataTable();
    } );
    </script> -->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row m-0 mt-4 pt-2 bg-dark text-white listar-livros">
                <div class="col-6">
                    <h1 class="titulo">Lista de Livros</h1>
                </div>

                <div class="col-6 text-right">
                    <a href="/livros/cadastrarLivros" class="btn btn-primary my-3 text-center">Cadastrar Livro</a>
                </div>
            </div>

            <table id="table_id" class="table table-sm table-hover tabela display text-center">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor Unitário</th>
                        <th>Código de barras</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody class="tabela">
                    <% if(resultado == "") { %>
                    <tr>
                        <div class="alert alert-warning">Não ha dados cadastrados</div>
                    </tr>
                    <%} else { resultado.forEach(function(livro) { %>
                    <tr>
                        <td>
                            <%= livro.nome %>
                        </td>
                        <td>
                            <%= livro.valorUnitario %>
                        </td>
                        <td>
                            <%= livro.codigoBarra %>
                        </td>
                        <td class="botoes-editar-excluir">
                            <a href="/livros/editarLivro/<%=livro._id%>" class="btn btn-sm btn-success mr-2">Editar</a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                data-target="#exampleModal<%=livro._id%>">
                                Excluir
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal<%=livro._id%>" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Excluir livro</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Você tem certeza que deseja excluir esse livro?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-dismiss="modal">Fechar</button>
                                            <a href="/livros/deletarLivro/<%=livro._id%>"
                                                class="btn btn-sm btn-danger">Excluir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>